footer.footer
    .footer__container
        .footer__nav
            if (!user)
                a(href='/signup') Create an Account
            a(href='https://github.com/aazibch' target='_blank') The Developer
        p.copyright Copyright &copy; ReadsTracker. All rights reserved.