include ../mixins/_notification

header.header
    .header__container
        .header__site-title
            a(href='/')
                img.header__logo-standard(src='/images/logo.png', alt='ReadsTracker Logo')
                img.header__logo-icon(src='/images/logo-icon.png', alt='ReadsTracker Icon')
        .search-users
            form(action="/search-results").search-users__form
                input(type="search" name="search_query" placeholder="Search users" autocomplete="off").search-users__input-field
                button(type="submit").search-users__button <i class="fas fa-search"></i>
            .search-users__dropdown
                .users-list.search-users__quick-results
                .loading-spinner.search-users__spinner

        nav.main-nav
            if user
                .main-buttons
                    .main-buttons__button-container.main-buttons__button-container-search
                        button(data-state='open').main-buttons__search <i class="fa-solid fa-magnifying-glass"></i> <i class="fa-solid fa-xmark"></i>
                    -
                        const messagesButtonClasses = ['main-buttons__button-container'];
                        const homeButtonClasses = ['main-buttons__button-container'];

                        if (title.split(' | ')[0] === 'Messages') messagesButtonClasses.push('main-buttons__button-container--active');

                        if (title.split(' | ')[0] === 'Home') homeButtonClasses.push('main-buttons__button-container--active');
                    .main-buttons__standard
                        div(class= homeButtonClasses.join(' '))
                            a(href='/').main-buttons__home <i class="fa-solid fa-house"></i>
                        div(class= messagesButtonClasses.join(' '))
                            if user.unreadConversationsCount > 0
                                a(href='/messages').main-buttons__count.main-buttons__count--active.main-buttons__conversations-count= user.unreadConversationsCount
                            else
                                .main-buttons__count.main-buttons__conversations-count 0
                            a(href='/messages').main-buttons__messages <i class="fa-solid fa-message"></i>
                        .main-buttons__button-container.main-buttons__button-container-notifications
                            -
                                let unreadCount = 0;

                                console.log('user.notifications', user.notifications);

                                user.notifications.forEach(notif => {
                                    if (notif.unread) ++unreadCount;
                                });

                                const classes = ['main-buttons__count', 'main-buttons__conversations-count'];

                                if (unreadCount > 0) classes.push('main-buttons__count--active');

                            div(class= classes.join(' '))= unreadCount
                            button(type='button').main-buttons__notifications <i class="fa-solid fa-bell"></i>
                ul.main-nav__dropdown.notifications
                    li.notification
                        a(href='#')
                            img.user-photo.notification__profile-photo(src=`/images/users/default.jpg`)
                            .notification__data
                                p.notification__desc aazibch liked your book The Book.
                                p.notification__date 12 - June - 1999
                            .notification-indicator-container
                                .notification-indicator
                    li.notification
                        a(href='#')
                            img.user-photo.notification__profile-photo(src=`/images/users/default.jpg`)
                            .notification__data
                                p.notification__desc aazibch liked your book The Book.
                                p.notification__date 12 - June - 1999
                            .notification-indicator-container
                                .notification-indicator
                    each notification in user.notifications
                        +notification(notification)
                ul.main-nav__dropdown.user-menu
                        li
                            a(href=`/${user.username}`) <i class="fas fa-user"></i> <p>Profile</p>
                        li
                            a(href=`/${user.username}/books/add`) <i class="fas fa-plus"></i> <p>Add Book</p>
                        li
                            a(href='/settings') <i class="fas fa-cog"></i> <p>Settings</p>
                        li
                            a(href='#').logout-list-item <i class="fas fa-sign-out-alt"></i> <p>Logout</p>

                a.main-nav__button.main-nav__user-button(role='button')
                    img.user-photo.main-nav__user-photo(src=`/images/users/${user.profilePhoto}`)
                    span.main-nav__username #{user.username}

            else
                a.button-outline-primary.main-nav__button(href='/' role='button') Login