header.header
    .header__container
        .header__site-title
            a(href='/')
                img.header__logo-standard(src='/images/logo.png', alt='ReadsTracker Logo')
                img.header__logo-icon(src='/images/logo-icon.png', alt='ReadsTracker Icon')
        .search-users
            form(action="/search-results").search-users__form
                input(type="search" name="search_query" placeholder="Search users" autocomplete="off").search-users__input-field
                button(type="submit").search-users__button <i class="fas fa-search"></i>
            .search-users__dropdown
                .users-list.search-users__quick-results
                .loading-spinner.search-users__spinner

        nav.main-nav
            if user
                .main-buttons
                    .main-buttons__button-container
                        a(href='/').main-buttons__home <i class="fa-solid fa-house"></i>
                    .main-buttons__button-container
                        if user.unreadConversationsCount > 0
                            a(href='/messages').main-buttons__count.main-buttons__count--active.main-buttons__conversations-count= user.unreadConversationsCount
                        else
                            .main-buttons__count.main-buttons__conversations-count 0
                        a(href='/messages').main-buttons__messages <i class="fas fa-message"></i>
                    .main-buttons__button-container.main-buttons__button-container-notifications
                        button(type='button').main-buttons__notifications <i class="fa-solid fa-bell"></i>
                ul.main-nav__dropdown.notifications
                    li.notification
                        a(href='/jamie')
                            img.user-photo.notification__profile-photo(src='/images/users/default.jpg')
                            .notification__data
                                p.notification__desc <strong>Jamie</strong> followed you.
                                p.notification__date 12 - 2- 2021
                    li.notification
                        a(href='/jamie')
                            img.user-photo.notification__profile-photo(src='/images/users/default.jpg')
                            .notification__data
                                p.notification__desc <strong>Jamie</strong> followed you.
                                p.notification__date 12 - 2- 2021
                ul.main-nav__dropdown.user-menu
                        li
                            a(href=`/${user.username}`) <i class="fas fa-user"></i> <p>Profile</p>
                        li
                            a(href='/') <i class="fas fa-plus"></i> <p>Add Book</p>
                        li
                            a(href='/user/settings') <i class="fas fa-cog"></i> <p>Settings</p>
                        li
                            a(href='#').logout-list-item <i class="fas fa-sign-out-alt"></i> <p>Logout</p>

                a.main-nav__button.main-nav__user-button(role='button')
                    img.user-photo.main-nav__user-photo(src=`/images/users/${user.profilePhoto}`)
                    span.main-nav__username #{user.username}

            else
                a.button-outline-primary.main-nav__button(href='/login' role='button') Login