.page-container
    .home-logged-in-content
        .add-book-button-container
            a(href=`${user.username}/books/add`).button-primary Add Book
        .feed.home-feed
            //- p.message-large No books to show. Follow people to make your experience more interesting.
            .feed__books
            .feed__loading-spinner.loading-spinner