.page-container
    .home-logged-in-content
        .add-book-button-container
            a(href=`${user.username}/books/add`).button-primary Add Book
        .feed.home-feed
            .feed__books
            .feed__loading-spinner.loading-spinner.loading-spinner--active