$primary-color: #4a4a4a;

$danger-color: #dc3545;
$success-color: #28a745;
$light-color: #f5f5f5;
$secondary-color: #4d5156;

$body-text-color: #212529;
$generic-border-color: #e0e0e0;

$shadow-light: 0px 2px 7px 0px rgba(191,189,191,0.63);
$shadow-dark: 0px 2px 20px 0px rgba(191,189,191,0.63);

%container {
    max-width: 80rem;
    margin: 0 auto;
}