@use './base';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $body-text-color;
}

button,
input[type="submit"],
a[role="button"] {
    cursor: pointer;
}

a[role="button"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    flex: 1;
}

.page-container {
    padding: 1rem;
}

// Header

.header {
    background: #92a37e;
    background: linear-gradient(to bottom right, #cbe4ad, #d8e3ca);
    border-bottom: 1px solid #c9c7c7;
    
    a {
        text-decoration: none;
    }
    
    &__container {   
        padding: 1rem;
        display: flex;
        align-items: center;
        @extend %container;
    }

    &__site-title {
        flex: 0 1 180px;
    }

    &__logo-standard {
        width: 100%;
        height: auto;
        display: block;
    }

    &__logo-icon {
        display: none;
        width: 100%;
    }

    &__site-title {
        a {
            font-size: 1.3rem;
            color: $primary-color;
        }
    }
}

.search-users {
    width: 17rem;
    min-width: 10rem;
    margin-left: 1rem;
    position: relative;

    &__form {
        display: flex;
    }

    &__input-field {
        flex: 1 1;
        width: 0;
        border-radius: 5px;
        height: 2rem;
        border-style: none;
        padding: 0 0.5rem;
        background: #fff;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus {
            outline-style: none;
        }
    }

    &__button {
        height: 2rem;
        padding: 0 0.75rem;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-style: none;
        background: #fff;
        color: $primary-color;

        &:hover {
            background: darken(#fff, 5%);
        }
    }

    &__dropdown {
        background: #fff;
        border: 1px solid $generic-border-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }

    &__spinner {
        display: none;
        margin: 1rem auto;
    }
}

.search-users--active {
    .search-users__dropdown {
        display: block;
    }
}

.main-nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__user-button {
        display: flex;
        align-items: center;
    }
    
    &__dropdown {
        position: relative;

        &--active {
            .main-nav__button {
                opacity: 0.8;
            }

            .main-nav__dropdown-menu-container {
                display: block;
            }
        }

        &-menu-container {
            position: absolute;
            top: 3.25rem;
            right: 0;
            box-shadow: $shadow-light;
            box-sizing: border-box;
            display: none;
            border-radius: 5px;
        }

        &-menu-arrow {
            top: -0.2rem;
            right: 0.3rem;
        }

        &-menu {
            font-size: 0.9rem;
            width: 7rem;

            li {
                p {
                    display: inline-block;
                    margin-left: 0.2rem;
                }
            }

            li:hover {
                background-color: darken(#fff, 5%);;
            }
        }
    }

    &__user-photo {
        width: 32px;
        height: auto;
        margin-right: 0.5rem;
    }

    &__button {
        margin-left: 0.75rem;
    }
}

@media (hover: hover) {
    .main-nav__button:hover {
        opacity: 0.8;
    }
}

// End of Header

// Footer

.footer {
    color: #b1b1b1;
    font-size: 0.9rem;
    padding: 0.7rem 2rem;
    background-color: #444444;
    
    &__container {
        display: flex;
        // @extend %container;
    }

    &__nav {
        position: relative;
        top: 1px;

        & a {
            text-decoration: none;
            color: #b1b1b1;
            margin-left: 1rem;
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: border-color 0.2s;

            &:hover {
                border-color: #b1b1b1;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}


.copyright {
    margin-left: auto;
}

// End of Footer

@media (max-width: 767.98px) {
    .main-nav {
        &__username {
            display: none;
        }
    }

    .header {
        &__site-title {
            flex: 0 0 40px;
        }

        &__logo-standard {
            display: none;
        }

        &__logo-icon {
            display: block;
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__nav {
            margin-bottom: 1rem;
        }
    }

    .copyright {
        margin-left: 0;
    }
}