footer.footer
    .footer__container
        .footer__nav
            a(href='#') Create an Account
            a(href='#') About this Project
            a(href='#') About the Developer
        p.copyright Copyright &copy; ReadsTracker. All rights reserved.