include mixins/_servicesBox

section.jumbotron
    .jumbotron__container
        .jumbotron__call-to-action
            p.jumbotron__text Tired of keeping track of your books?
                <br> We'll help you sort out!
            a.button-light.button-large(href='/signup') Signup
        .jumbotron__icon
            img(src='/images/logo-icon-light.png')

section.services
    .services__container
        .row
            .column
                +servicesBox('book', 'Keep track of all your reads')
            .column
                +servicesBox('eye', 'Show off how well-read you are')
            .column
                +servicesBox('users', 'See what your friends are reading')