extends base

block content
    .page-container
        .form-container
            form.book-form.form
                h1.heading-1.form__heading Add a new book
                label.form__label Title
                input.book-form__title-field.form__input-field(type='text')
                label.form__label Author
                input.book-form__author-field.form__input-field(type='text')

                label.form__label Rating
                .form__stars

                    i.fas.fa-star(data-index='0')
                    i.fas.fa-star(data-index='1')
                    i.fas.fa-star(data-index='2')
                    i.fas.fa-star(data-index='3')
                    i.fas.fa-star(data-index='4')

                label.form__label Genre

                - const genres = ['Action and Adventure', 'Biography or Autobiography', 'Coming-of-age', 'Crime', 'Drama', 'Dystopian Fiction', 'Fantasy', 'History', 'Mystery', 'Pop-sci', 'Poetry', 'Romance', 'Self help', 'Sci-fi', 'Satire', 'Spirituality', 'Thriller', 'Philosophical Fiction'];
                select.book-form__genre-field.form__input-field
                    option Select a Genre
                    each genre in genres
                        option= genre

                label.form__label Review (optional)
                textarea(maxlength="280").book-form__review-input.form__review-input
                p.form__review-message
                    span.form__review-char-count 0
                    |  / 280

                input.button-primary(type='submit' value='Submit')