doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/png' href='/images/favicon.png')

        title #{title}

        link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap' rel='stylesheet')
        link(href='/fontawesome/css/all.min.css' rel='stylesheet')
        link(href='/css/main.css' rel='stylesheet')
    body
        .alert
        .modal.confirmation-modal
            .modal__dialog
                .modal__content
                    .modal__header
                        button.modal__close-button.confirmation-modal__close-button &#10005;
                    .modal__body
                        .confirmation-modal__query
                    .modal__footer
                        .confirmation-modal__options
                            button.confirmation-modal__no-button(data-value='false') No
                            | 
                            button.confirmation-modal__yes-button(data-value='true') Yes

        .modal.list-modal
            .modal__dialog
                .modal__content.list-modal__content
                    .modal__header
                        h3.list-modal__heading Followers
                        button.modal__close-button.list-modal__close-button &#10005;
                    .loading-spinner.list-modal__loading-spinner
                    .list-modal__list


        if (title.split(' ')[0] === 'Home' && user || title.split(' ')[0] !== 'Error' && title.split(' ')[0] !== 'Home')
            include includes/_header
        
        main
            block content

        include includes/_footer

        script(src='/socket.io/socket.io.js')
        script(src='/js/bundle.js')