extends base
include mixins/_bookCard

block content
    -
        console.log('book', book);
        let loggedInUsersBook = false;

        if (user) {
            loggedInUsersBook = user.username === book.user.username;
        }
    .page-container
        +bookCard(book, 'full')