extends base

block content
    .form-container
        form#forgot-password-form.form
            h1.heading-1.form__heading Recover your password
            label.form__label Email
            input#forgot-password-form__email-field.form__input-field(type='email' placeholder='john@example.com')
            input.button-primary(type='submit' value='Submit')
            #forgot-password-form__loading-spinner.loading-spinner
