extends base

block content
    .page-container
        .form-container
            form.forgot-password-form.form
                h1.heading-1.form__heading Password Recovery

                label.form__label Email
                input.forgot-password-form__email-field.form__input-field(
                    type='email'
                )
                input.forgot-password-form__submit-button.button-primary(
                    type='submit',
                    value='Submit'
                )
