extends base
include mixins/_conversation.pug
include mixins/_message.pug

block content
    .page-container.messages-page
        .messages__sidebar
            h2.messages__page-title Messages
            .conversations
                each convo in conversations
                    if (selectedConvo && convo._id.toString() === selectedConvo._id.toString())
                        +conversation(convo, true)
                    else
                        +conversation(convo)
        .messages__main
            if (!selectedConvo && !params.new_id)
                p.system-note Your selected conversation will appear here.
            if (selectedConvo || params.new_id)
                .conversation__header
                    button.button-danger.conversation__delete-button Delete
                .conversation-content
                    if (selectedConvo)
                        each message in selectedConvo.messages
                            +message(message, selectedConvo.participant, user)

            if (selectedConvo || params.new_id)
                form.new-message__form(data-convo-id= selectedConvo ? selectedConvo._id : '')
                    textarea.new-message__input
                    div
                        input(type="submit" value="Send").button-primary