extends base
include mixins/_conversation.pug
include mixins/_message.pug

block content
    -
        const pageClasses = ['page-container', 'messages-page'];

        if (pageType === 'conversations') {
            pageClasses.push('page-type-conversations');
        } else if (pageType === 'messages') {
            pageClasses.push('page-type-messages');
        }

    div(class= pageClasses.join(' '))
        .messages__sidebar
            .messages__header
                h2.messages__heading Messages
            .conversations
                each conversation in conversations
                    -
                        const unread = conversation.unreadBy?.toString() === user._id.toString();
                        const selected = selectedConversation ? conversation._id.toString() === selectedConversation._id.toString() : false;
                    +conversation(conversation, unread, selected)
        .messages__main(data-conversation-id= selectedConversation ? selectedConversation._id : false data-new-conversation= newConversation && newConversation.status ? newConversation.status.toString() : false)
            if (!selectedConversation && !newConversation.status)
                .messages__app-messages
                    p.app-message.app-message__large Your selected conversation will appear here.
                    p.app-message Note: You can only message people who are being followed by you as well as following you.

            else
                .conversation__header
                    if (selectedConversation)
                        h2.messages__heading= selectedConversation.participant.username
                        button.button-danger.conversation__delete-button Delete
                    if (newConversation && newConversation.status)
                        h2.messages__heading= newConversation.participant.username
                .conversation__content
                    if (selectedConversation)
                        each message in selectedConversation.messages
                            if (!message.deletedBy || message.deletedBy && message.deletedBy.toString() !== user._id.toString())
                                -
                                    const isOwn = message.sender.toString() === user._id.toString();
                                    const userData = isOwn ? user : selectedConversation.participant;
                                +message(message, isOwn, userData)
            if (selectedConversation || newConversation.status)
                form.new-message__form
                    input(type="text").new-message__input
                    div
                        input(type="submit" value="Send").button-light