extends base

block content
    .form-container
        form#password-recovery-form.form
            h1.heading-1.form__heading Recover your password
            label.form__label New Password
            input#password-recovery-form__password-field.form__input-field(type='password' placeholder='*********')
            label.form__label Confirm New Password
            input#password-recovery-form__confirm-password-field.form__input-field(type='password' placeholder='*********')
            input.button-primary(type='submit' value='Submit')
            #password-recovery-form__loading-spinner.loading-spinner