extends base
include mixins/_bookCard

block content
    .profile-header
        img.user-photo(src=`/images/users/${profile.profilePhoto}`)
        h1.heading-1= profile.username
    
    .books
        .books__buttons-container
            a(href='/').button-primary.books__add-book-button Add Book
        if profile.books.length === 0
            .message.no-books-message
                p No books to show.
        else
            .books__container.books-grid
                .books-grid-sizer
                each book in profile.books
                    +bookCard(book, profile.username)