block content
    .form-container
        form.signup-form.form
            h1.heading-1.form__heading Signup
            label.form__label Username
            input.signup-form__name-field.form__input-field(type='text')
            label.form__label Email
            input.signup-form__email-field.form__input-field(type='email')
            label.form__label Password
            input.signup-form__password-field.form__input-field(
                type='password'
            )
            label.form__label Confirm Password
            input.signup-form__confirm-password-field.form__input-field(
                type='password'
            )
            input.button-primary.button-block.auth-form__proceed-button(
                type='submit',
                value='Signup'
            )
            .loading-spinner.signup-form__loading-spinner
            .auth-form__alternative
                a.button-outline-primary.button-block(href='/') Login to Existing Account
