extends base

block content
    .page-container
        .form-container
            form.reset-password-form.form
                h1.heading-1.form__heading Reset Password

                label.form__label Password
                input.reset-password-form__password-field.form__input-field(
                    type='password'
                )

                label.form__label Confirm Password
                input.reset-password-form__confirm-password-field.form__input-field(
                    type='password'
                )

                input.reset-password-form__submit-button.button-primary(
                    type='submit',
                    value='Submit'
                )
