extends base
include mixins/_searchResult

block content
    .page-container
        .search-results-container
            if (results.length === 0)
                .app-message.app-message__large
                    p No results found.
            else
                each result in results
                    +searchResult(result)