.jumbotron__container, .footer__container, .header__container {
  max-width: 80rem;
  margin: 0 auto;
}

.link:link {
  color: #F012BE;
  text-decoration: none;
}
.link:visited {
  color: #c30c9a;
}
.link:hover {
  text-decoration: underline;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.alert__content {
  padding: 1.5rem 2rem;
  text-align: center;
  margin: 0.5rem 0 0;
  border-radius: 5px;
  color: #f5f5f5;
}
.alert__content--success {
  background: #28a745;
}
.alert__content--error {
  background: #dc3545;
}

.button-light, .button-danger, .button-outline-primary, .button-primary {
  font-size: 1rem;
  font-weight: 400;
  border-style: none;
  border-radius: 0.25rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
}

.button-large {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.button-primary {
  background: #4a4a4a;
  color: #f5f5f5;
}
.button-primary:hover {
  background: #3d3d3d;
}

a.button-primary {
  text-decoration: none;
}
a.button-primary:link, a.button-primary:visited, a.button-primary:active {
  color: #f5f5f5;
}

a.button-light {
  text-decoration: none;
}
a.button-light:link, a.button-light:visited, a.button-light:active {
  color: #212529;
}

.button-outline-primary {
  transition: opacity 0.2s;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}
.button-outline-primary:hover {
  background: #4a4a4a;
  color: #f5f5f5;
}

.button-danger {
  background: #dc3545;
  color: #f5f5f5;
}
.button-danger:hover {
  background: #d32535;
}

.button-light {
  background: #f5f5f5;
}
.button-light:hover {
  background: #e8e8e8;
}

.heading-1 {
  font-size: 1.75rem;
}

.heading-2 {
  font-size: 1.5rem;
}

.heading-3 {
  font-size: 1.2rem;
}

.form-container {
  max-width: 32rem;
  margin: 5rem auto 5rem;
  padding: 3rem 2.5rem;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(191, 189, 191, 0.63);
  border-radius: 7px;
}
.form-container .heading-1 {
  margin: 0 0 1.5rem;
}
.form-container .heading-3 {
  margin: 1.5rem 0 1rem;
}

.form__message {
  margin-bottom: 1rem;
  color: #4d5156;
}
.form__stars {
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  max-width: 7rem;
  margin: 0 auto;
}
.form__input-field {
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  border-style: none;
  height: 2.5rem;
  padding: 0 0.5rem;
  background: #f2f2f2;
}
.form__input-field:focus {
  border: 1px solid #c9c7c7;
}
.form__file-upload {
  display: block;
  margin-bottom: 1.5rem;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.7rem;
  color: #4d5156;
}

.star-highlighted {
  color: #ffa500;
}

.book-card {
  box-shadow: 0px 2px 7px 0px rgba(191, 189, 191, 0.63);
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
.book-card__button {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 0.3rem 0.5rem;
  background: #fff;
  color: #4d5156;
}
.book-card__button:hover {
  background: #f2f2f2;
}
.book-card__info {
  padding: 1rem;
  overflow: hidden;
}
.book-card__title, .book-card__author {
  font-weight: 700;
}
.book-card__title {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
}
.book-card__author-line {
  margin: 0 0 0.4rem;
}
.book-card__date-added {
  margin-bottom: 0;
}
.book-card__bottom-content {
  display: flex;
  align-items: bottom;
}
.book-card__secondary-data {
  font-size: 0.8rem;
  display: flex;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
}
.book-card__secondary-data p {
  margin: 0.2rem;
}
.book-card__secondary-data-content-2 {
  margin-left: auto;
}
.book-card__secondary-data, .book-card__note-date {
  color: #4d5156;
}

.confirmation-modal {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  box-sizing: border-box;
  padding: 1rem;
}
.confirmation-modal__content {
  max-width: 32rem;
  background: #fff;
  margin: 10rem auto;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  overflow: auto;
  border-radius: 5px;
}
.confirmation-modal__query {
  margin: 1rem;
  clear: right;
}
.confirmation-modal__close-button {
  border-style: none;
  background: #fff;
  padding: 0.3rem 0.5rem;
  color: #dc3545;
  float: right;
}
.confirmation-modal__options {
  float: right;
}
.confirmation-modal__options button {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}
.confirmation-modal__yes-button {
  border-color: #dc3545;
  background: #dc3545;
  color: #f5f5f5;
}
.confirmation-modal__yes-button:hover {
  background: #d32535;
  border-color: #d32535;
}
.confirmation-modal__no-button {
  background: #d7d7d7;
  border-color: #d7d7d7;
}
.confirmation-modal__no-button:hover {
  background: #cacaca;
  border-color: #cacaca;
}

.dropdown-menu {
  list-style: none;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 7px 0px rgba(191, 189, 191, 0.63);
  border-radius: 5px;
}
.dropdown-menu__arrow {
  height: 0.6rem;
  width: 0.6rem;
  display: inline-block;
  background: #fff;
  position: absolute;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  z-index: 100;
}
.dropdown-menu li {
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  position: relative;
  z-index: 200;
  font-size: 0.9rem;
}
.dropdown-menu li:first-child {
  border-radius: 5px 5px 0 0;
}
.dropdown-menu li:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom-style: none;
}
.dropdown-menu li:hover {
  background: #f2f2f2;
}
.dropdown-menu li a {
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 0.5rem 0.7rem;
}
.dropdown-menu li a:link, .dropdown-menu li a:visited, .dropdown-menu li a:active {
  color: #4d5156;
}

.user-photo {
  border-radius: 50%;
  border: 2px solid #999999;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  box-sizing: border-box;
  flex-basis: 33.33333333%;
}

@media (max-width: 767.98px) {
  .column {
    flex-basis: 50%;
  }
}
@media (max-width: 899.98px) {
  .books__container .column {
    flex-basis: 50%;
  }
}
@media (max-width: 575.98px) {
  .column,
.books__container .column {
    flex-basis: 100%;
  }
}
@media (max-width: 994.98px) {
  .book-card__secondary-data {
    flex-direction: column;
    align-items: initial;
  }
  .book-card__secondary-data-content-2 {
    margin-left: initial;
  }
}
.loading-spinner,
.loading-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.loading-spinner {
  margin-left: 1em;
  font-size: 10px;
  position: relative;
  top: 0.3em;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #4d5156;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.system-note {
  margin: 5rem 0 5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #4d5156;
}

.jumbotron__container, .header__container, .footer__container {
  max-width: 80rem;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #212529;
}

button,
input[type=submit],
a[role=button] {
  cursor: pointer;
}

a[role=button] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  flex: 1;
}

.page-container {
  padding: 1rem;
}

.header {
  background: #cbe4ad;
  background: linear-gradient(to bottom right, #cbe4ad, #d8e3ca);
  border-bottom: 1px solid #c9c7c7;
}
.header a {
  text-decoration: none;
}
.header__container {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.header__site-title {
  flex: 0 1 180px;
}
.header__logo-standard {
  width: 100%;
  height: auto;
  display: block;
}
.header__logo-icon {
  display: none;
  width: 100%;
}
.header__site-title a {
  font-size: 1.3rem;
  color: #4a4a4a;
}

.search-users {
  width: 17rem;
  min-width: 10rem;
  margin-left: 1rem;
  position: relative;
}
.search-users__form {
  display: flex;
}
.search-users__input-field {
  flex: 1 1;
  width: 0;
  border-radius: 5px;
  height: 2rem;
  border-style: none;
  padding: 0 0.5rem;
  background: #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-users__input-field:focus {
  outline-style: none;
}
.search-users__button {
  height: 2rem;
  padding: 0 0.75rem;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  background: #fff;
  color: #4a4a4a;
}
.search-users__button:hover {
  background: #f2f2f2;
}
.search-users__dropdown {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}
.search-users__spinner {
  display: none;
  margin: 1rem auto;
}
.search-users__result {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
.search-users__result:link, .search-users__result:visited, .search-users__result:active {
  color: #212529;
}
.search-users__result:last-child {
  border-bottom-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-users__result:hover {
  background: #f2f2f2;
}
.search-users__profile-photo {
  width: 45px;
  height: auto;
  margin-right: 0.5rem;
}
.search-users__books {
  color: #4d5156;
  font-size: 0.7rem;
}

.search-users--active .search-users__dropdown {
  display: block;
}

.main-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-nav__user-button {
  display: flex;
  align-items: center;
}
.main-nav__dropdown {
  position: relative;
}
.main-nav__dropdown--active .main-nav__button {
  opacity: 0.8;
}
.main-nav__dropdown--active .main-nav__dropdown-menu-container {
  display: block;
}
.main-nav__dropdown-menu-container {
  position: absolute;
  top: 3.25rem;
  right: 0;
  box-shadow: 0px 2px 7px 0px rgba(191, 189, 191, 0.63);
  box-sizing: border-box;
  display: none;
  border-radius: 5px;
}
.main-nav__dropdown-menu-arrow {
  top: -0.2rem;
  right: 0.3rem;
}
.main-nav__dropdown-menu {
  font-size: 0.9rem;
  width: 7rem;
}
.main-nav__dropdown-menu li p {
  display: inline-block;
  margin-left: 0.2rem;
}
.main-nav__dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.main-nav__user-photo {
  width: 32px;
  height: auto;
  margin-right: 0.5rem;
}
.main-nav__button {
  margin-left: 0.75rem;
}

@media (hover: hover) {
  .main-nav__button:hover {
    opacity: 0.8;
  }
}
.footer {
  color: #b1b1b1;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  background-color: #444444;
}
.footer__container {
  display: flex;
}
.footer__nav {
  position: relative;
  top: 1px;
}
.footer__nav a {
  text-decoration: none;
  color: #b1b1b1;
  margin-left: 1rem;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
}
.footer__nav a:hover {
  border-color: #b1b1b1;
}
.footer__nav a:first-child {
  margin-left: 0;
}

.copyright {
  margin-left: auto;
}

@media (max-width: 767.98px) {
  .main-nav__username {
    display: none;
  }

  .header__site-title {
    flex: 0 0 40px;
  }
  .header__logo-standard {
    display: none;
  }
  .header__logo-icon {
    display: block;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__nav {
    margin-bottom: 1rem;
  }

  .copyright {
    margin-left: 0;
  }
}
.jumbotron {
  background-color: #4a4a4a;
  color: #f5f5f5;
  font-size: 1rem;
  height: 25rem;
}
.jumbotron__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}
.jumbotron__text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.jumbotron__icon {
  width: 13rem;
  margin-left: 2rem;
}
.jumbotron__icon img {
  width: 100%;
}

.services {
  text-transform: uppercase;
  margin: 2rem auto;
}
.services__box {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
}
.services__icon {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
}
.services h2 {
  font-size: 0.9rem;
  font-weight: 400;
  max-width: 11rem;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .jumbotron__icon {
    display: none;
  }

  .services__container .column:last-child {
    flex-grow: 0;
    margin: 0 auto;
  }
}
.book-form__loading-spinner {
  display: none;
}

.login-form-container {
  margin-bottom: 0;
}

.form-links {
  text-align: center;
  margin: 1rem 0 4rem;
}
.form-links a {
  display: block;
  margin-bottom: 0.75rem;
}
.form-links a:link, .form-links a:visited {
  color: #4d5156;
  text-decoration: none;
}
.form-links a:hover {
  text-decoration: underline;
}

.login-form__loading-spinner {
  display: none;
}

.signup-form-container {
  margin-bottom: 0;
}

.signup-form__loading-spinner {
  display: none;
}

.profile-header {
  text-align: center;
  padding: 3rem 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
.profile-header .user-photo {
  width: 180px;
  height: auto;
  margin-bottom: 1rem;
}

.user-banner__name {
  font-size: 2.25rem;
  margin: 0;
  line-height: 10rem;
}

.books {
  margin: 0 auto 4.5rem;
  max-width: 70rem;
  padding: 1rem;
}
.books__container {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.books__buttons-container {
  display: flex;
  margin-bottom: 1rem;
}
.books__add-book-button {
  margin-left: auto;
}

.books-grid-sizer,
.books-grid-item {
  box-sizing: border-box;
  width: 25%;
}

.books-grid-item {
  padding: 0.25rem;
}

.profile-book-card__link {
  text-decoration: none;
  color: inherit;
}

.no-books-message {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

@media (max-width: 991.98px) {
  .books-grid-sizer,
.books-grid-item {
    width: 33.33%;
  }
}
@media (max-width: 767.98px) {
  .books-grid-sizer,
.books-grid-item {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .books-grid-sizer,
.books-grid-item {
    width: 100%;
  }
}
.full-book {
  margin: 4.5rem auto 4.5rem;
  max-width: 32.5rem;
  box-shadow: 0px 2px 20px 0px rgba(191, 189, 191, 0.63);
}
.full-book__header {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.full-book__dropdown {
  position: relative;
  margin-left: auto;
}
.full-book__dropdown-button {
  margin-left: auto;
}
.full-book__dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 1.8rem;
  list-style: none;
}
.full-book__dropdown-menu li a {
  color: #4d5156;
}
.full-book__user {
  display: flex;
  align-items: center;
}
.full-book__user:link, .full-book__user:visited, .full-book__user:hover {
  color: #212529;
}
.full-book__user:link {
  text-decoration: none;
}
.full-book__user:hover {
  text-decoration: underline;
}
.full-book__user img {
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}
.full-book__note-input {
  background: #f7f7f7;
}
.full-book__note-form {
  padding: 1rem;
  display: flex;
}
.full-book__new-note-body {
  flex: 1 1 0;
  margin-right: 0.5rem;
  height: 1rem;
  resize: none;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.full-book__notes {
  border-top: 1px solid #e0e0e0;
  clear: both;
  background: #f7f7f7;
}
.full-book__note {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
  overflow: auto;
}
.full-book__note-content-1 {
  display: flex;
  margin-bottom: 1rem;
}
.full-book__note-body {
  font-size: 0.95rem;
}
.full-book__note-delete-button {
  color: #4d5156;
  margin-left: auto;
  height: 1.8rem;
}
.full-book__note-date {
  float: right;
  font-size: 0.75rem;
  color: #4d5156;
}
.full-book .book-card__secondary-data {
  flex-direction: row;
  align-items: flex-end;
}
.full-book .book-card__secondary-data-content-2 {
  margin-left: auto;
}

@media (max-width: 575.98px) {
  .full-book .book-card__secondary-data {
    flex-direction: column;
    align-items: initial;
  }
  .full-book .book-card__secondary-data-content-2 {
    margin-left: initial;
  }
}
.settings-details-form {
  border-top: 1px solid #e0e0e0;
}

.settings-password-form {
  border-top: 1px solid #e0e0e0;
  margin-top: 2rem;
}

.settings-delete-button-container {
  border-top: 1px solid #e0e0e0;
  margin-top: 2rem;
}

.settings-loading-spinner {
  display: none;
}

.error-message {
  margin: 12rem 0 5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #555555;
}
.error-message i.fas {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.search-results-container {
  max-width: 53rem;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  margin: 0 auto;
  overflow: auto;
  height: 100%;
}

.search-result {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  cursor: pointer;
}
.search-result:link, .search-result:visited, .search-result:hover {
  color: inherit;
  text-decoration: none;
}
.search-result:hover {
  background: #f2f2f2;
}
.search-result__user-photo {
  width: 55px;
  height: auto;
  margin-right: 1rem;
}
.search-result__books {
  font-size: 0.8rem;
  color: #4d5156;
}

.messages-page {
  height: 5rem;
  display: flex;
  min-height: 35rem;
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

.messages__page-title {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.messages__sidebar {
  flex: 0 1 20rem;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.messages__main {
  flex: 1 0 auto;
  border: 1px solid #e0e0e0;
  border-left-style: none;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.conversation:link, .conversation:visited, .conversation:hover {
  color: inherit;
  text-decoration: none;
}
.conversation:hover {
  background: #f2f2f2;
}
.conversation .user-photo {
  width: 55px;
  height: auto;
  margin-right: 1rem;
}
.conversation__username {
  font-size: 1rem;
  font-weight: bold;
}
.conversation__excerpt {
  font-size: 0.8rem;
}
.conversation--selected {
  background: #f2f2f2;
}

.conversation-content {
  padding: 1rem;
  overflow-y: scroll;
  height: 81.5%;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 1rem;
}
.message:last-child {
  margin-bottom: 0;
}
.message__main {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}
.message__user-photo {
  width: 35px;
  height: auto;
  margin-right: 0.5rem;
}
.message__content {
  border-radius: 5px;
  padding: 0.5rem;
  background: #e6e9ff;
  display: inline-block;
}
.message__time {
  color: #4d5156;
  font-size: 0.8rem;
}
.message--logged-in-users .message__main {
  display: flex;
  justify-content: right;
}
.message--logged-in-users .message__content {
  background-color: #4a4a4a;
  color: #f5f5f5;
}
.message--logged-in-users .message__meta {
  text-align: right;
}

.new-message__form {
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem;
}
.new-message__input {
  resize: none;
  flex: 1 1 auto;
  margin-right: 1rem;
  height: 1rem;
  size: 1rem;
  padding: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
