.full-book {
    margin: 4.5rem auto 4.5rem;
    max-width: 32.5rem;
    box-shadow: $shadow-dark;

    &__header {
        border-bottom: 1px solid $generic-border-color;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    &__dropdown {
        position: relative;
        margin-left: auto;

        &-button {
            margin-left: auto;
        }
    
        &-menu {
            display: none;
            position: absolute;
            right: 0;
            top: 1.8rem;
            list-style: none;

            li a {
                color: $secondary-color;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &:link, &:visited, &:hover {
            color: $body-text-color;
        }

        &:link {
            text-decoration: none;
        }
    
        &:hover {
            text-decoration: underline;
        }

        img {
            height: 50px;
            width: 50px;
            margin-right: 0.5rem;
        }
    }
    
    &__note-input {
        background: #f7f7f7;
    }

    &__note-form {
        padding: 1rem;
        display: flex;
    }

    &__new-note-body {
        flex: 1 1 0;
        margin-right: 0.5rem;
        height: 1rem;
        resize: none;
        padding: 0.5rem;
        border: 1px solid $generic-border-color;
        border-radius: 5px;
    }

    &__notes {
        border-top: 1px solid $generic-border-color;
        clear: both;
        background: #f7f7f7;
    }

    &__note {
        border-bottom: 1px solid $generic-border-color;
        padding: 1rem;
        overflow: auto;
    }

    &__note-content-1 {
        display: flex;
        margin-bottom: 1rem;
    }

    &__note-body {
        font-size: 0.95rem;
    }

    &__note-delete-button {
        color: $secondary-color;
        margin-left: auto;
        height: 1.8rem;
    }

    &__note-date {
        float: right;
        font-size: 0.75rem;
        color: $secondary-color;
    }

    .book-card {
        &__secondary-data {
            flex-direction: row;
            align-items: flex-end;
        }

        &__secondary-data-content-2 {
            margin-left: auto;
        }
    }
}

@media (max-width: 575.98px) {
    .full-book {
        .book-card {
            &__secondary-data {
                flex-direction: column;
                align-items: initial;
            }
        
            &__secondary-data-content-2 {
                margin-left: initial
            }
        }
    }
}