.home-logged-out-content {
    display: flex;
    height: 100%;
}

.auth-form {
    flex-basis: 50%;
    display: flex;;
    align-items: center;
}

.services {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    text-transform: uppercase;
    border-right: 1px solid $generic-border-color;

    &__box {
        text-align: center;
        padding: 1.5rem;
        margin: 0rem;
    }
    
    &__icon {
        font-size: 2.75rem;
        margin-bottom: 1.5rem;
        color: $primary-color;
    }
    
    & h2 {
        font-size: 0.8rem;
        font-weight: 400;
        max-width: 11rem;
        margin: 0 auto;
    }
}

.services__logo {
    width: 13rem;
    margin-bottom: 1rem;
}

.services__container {
    border-top: 1px solid $generic-border-color;
    padding-top: 1rem;
}

@media (max-width: 767.98px) {
    .jumbotron {
        &__icon {
            display: none;
        }
    }


    .services__container {
        .column:last-child {
            flex-grow: 0;
            margin: 0 auto;
        }
    }
}

.book-form {
    &__loading-spinner {
        display: none;
    }
}

.home-logged-in-content {
    max-width: 70rem;
    margin: 0 auto;
}

.auth-form {
    padding: 1rem;
}


.logo-standard {
    width: 18rem;
    margin: 1rem auto 0;
    // flex: 0 0 50rem;
    display: none;
}

@media (max-width: 991.98px) {
    .home-logged-out-content {
        flex-direction: column;
    }

    .logo-standard {
        display: block;
    }

    .services {
        display: none;
    }

    .auth-form {
        flex-grow: 1;
    }
}