.jumbotron {
    background-color: $primary-color;
    color: $light-color;
    font-size: 1rem;
    height: 25rem;

    
    &__container {        
        @extend %container;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 2rem;
    }

    &__text {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__icon {
        width: 13rem;
        margin-left: 2rem;

        img {
            width: 100%;
        }
    }
}

.services {
    text-transform: uppercase;
    margin: 2rem auto;

    &__box {
        text-align: center;
        padding: 2rem;
        margin: 0.5rem;
    }
    
    &__icon {
        font-size: 4rem;
        margin-bottom: 1.5rem;
        color: $primary-color;
    }

    & h2 {
        font-size: 0.9rem;
        font-weight: 400;
        max-width: 11rem;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .jumbotron {
        &__icon {
            display: none;
        }
    }


    .services__container {
        .column:last-child {
            flex-grow: 0;
            margin: 0 auto;
        }
    }
}

.book-form {
    &__loading-spinner {
        display: none;
    }
}