.messages-page {
    height: 100vh;
    display: flex;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
}

.messages {
    &__header {
        // padding: 1rem;
        border-bottom: 1px solid $generic-border-color;
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }

    &__sidebar {
        flex: 0 1 20rem;
        border: 1px solid $generic-border-color;
        background-color: #fff;
    }

    &__main {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        border: 1px solid $generic-border-color;
        border-left-style: none;
        background-color: #fff;
    }


    &__app-message {
        margin: 5rem 0 5rem;
        font-size: 1.2rem;
        text-align: center;
        color: $secondary-color;
    }
}

.conversation {
    display: flex;
    align-items: center;
    padding: 1rem;

    &__header {
        border-bottom: 1px solid $generic-border-color;
        display: flex;
        height: 4rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    &__content {
        padding: 1rem;
        overflow-y: scroll;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }

    &--new {
        .conversation__extract {
            font-weight: bold;
        }

        .conversation__notification-indicator {
            display: inline-block;
        }
    }

    &:link, &:visited, &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        background: darken(#fff, 5%);
    }

    .user-photo {
        width: 55px;
        height: auto;
        margin-right: 1rem;
    }

    &__username {
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5rem;
    }

    &__extract {
        font-size: 0.8rem;
    }

    &__online-indicator {
        height: 0.65rem;
        width: 0.65rem;
        border-radius: 50%;
        background: #14dd14;
        display: none;
    }

    &__online-indicator--active {
        display: inline-block;
    }

    &__notification-indicator-container {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }

    &__notification-indicator {
        height: 0.65rem;
        width: 0.65rem;
        border-radius: 50%;
        background: #0793f8;
        display: none;
    }

    &--selected {
        background: darken(#fff, 5%);
    }
}

.message {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__main {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    &__user-photo {
        width: 35px;
        height: auto;
        margin-right: 0.5rem;
    }

    &__content {
        border-radius: 5px;
        padding: 0.5rem;
        background: #e6e9ff;
        display: inline-block;
    }

    &__time {
        color: $secondary-color;
        font-size: 0.8rem;
    }

    &--logged-in-users {
        .message {
            &__main {
                display: flex;
                justify-content: right;
            }
            
            &__content {
                background-color: $primary-color;
                color: $light-color;
            }

            &__meta {
                text-align: right;
            }
        }
    }
}

.new-message {
    &__form {
        border-top: 1px solid $generic-border-color;
        display: flex;
        padding: 1rem;
        flex: 0 0 auto;
    }

    &__input {
        resize: none;
        flex: 1 1 auto;
        margin-right: 1rem;
        height: 1rem;
        size: 1rem;
        padding: 0.5rem;
    }
}