.messages-page {
    height: 5rem;
    display: flex;
    min-height: 35rem;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
}

.messages {
    &__page-title {
        padding: 1rem;
        border-bottom: 1px solid $generic-border-color;
    }

    &__sidebar {
        flex: 0 1 20rem;
        border: 1px solid $generic-border-color;
        background-color: #fff;
    }

    &__main {
        flex: 1 0 auto;
        border: 1px solid $generic-border-color;
        border-left-style: none;
        position: relative;
        background-color: #fff;
        overflow: hidden;
    }
}

.conversation {
    display: flex;
    align-items: center;
    padding: 1rem;

    &:link, &:visited, &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        background: darken(#fff, 5%);
    }

    .user-photo {
        width: 55px;
        height: auto;
        margin-right: 1rem;
    }

    &__username {
        font-size: 1rem;
        font-weight: bold;
    }

    &__excerpt {
        font-size: 0.8rem;
    }

    &--selected {
        background: darken(#fff, 5%);
    }
}

.conversation-content {
    padding: 1rem;
    overflow-y: scroll;
    height: 81.5%;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__main {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    &__user-photo {
        width: 35px;
        height: auto;
        margin-right: 0.5rem;
    }

    &__content {
        border-radius: 5px;
        padding: 0.5rem;
        background: #e6e9ff;
        display: inline-block;
    }

    &__time {
        color: $secondary-color;
        font-size: 0.8rem;
    }

    &--logged-in-users {
        .message {
            &__main {
                display: flex;
                justify-content: right;
            }
            
            &__content {
                background-color: $primary-color;
                color: $light-color;
            }

            &__meta {
                text-align: right;
            }
        }
    }
}

.new-message {
    &__form {
        border-top: 1px solid $generic-border-color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        padding: 1rem;
    }

    &__input {
        resize: none;
        flex: 1 1 auto;
        margin-right: 1rem;
        height: 1rem;
        size: 1rem;
        padding: 0.5rem;
    }
}