.profile-header {
    text-align: center;
    padding: 3rem 1rem;
    border-bottom: 1px solid $generic-border-color;

    .user-photo {
        width: 180px;
        height: auto;
        margin-bottom: 1rem;
    }

    background-color: #fff;
}

.profile-header__content {
    max-width: 70rem;
    margin: 0 auto;
}

.user-banner {
    &__name {
        font-size: 2.25rem;
        margin: 0;
        line-height: 10rem;
    }
}

.connections {
    text-align: right;

    p {
        display: inline-block;
        margin-right: 1rem;
    }
}

.users-list-triggers {
    display: inline-block;
    margin-right: 1rem;

    &__followers {
        margin-right: 0.5rem;
    }
}

.followers-count,
.following-count {
    font-weight: bold;
}

.connect-buttons {
    display: inline-block;

    &__follow-toggle {
        margin-right: 0.5rem;
    }

    &__unfollow-button {
        @extend .button-light;
        margin-right: 0.5rem;
    }

    &__follow-button {
        @extend .button-primary;
    }
}

.profile-body {
    max-width: 70rem;
    margin: 0 auto;
}

.profile-books {
    &__buttons-container {
        display: flex;
        margin-bottom: 1rem;
    }

    &__add-book-button {
        margin-left: auto;
    }
}

.profile-book {
    margin: 1.5rem auto 1.5rem;
}