.profile-header {
    text-align: center;
    padding: 3rem 1rem;
    margin-bottom: 3rem;

    border-bottom: 1px solid $generic-border-color;

    .user-photo {
        width: 180px;
        height: auto;
        margin-bottom: 1rem;
    }

    background-color: #fff;
}

.profile-header__content {
    max-width: 70rem;
    margin: 0 auto;
}

.user-banner {
    &__name {
        font-size: 2.25rem;
        margin: 0;
        line-height: 10rem;
    }
}

.connections {
    text-align: right;

    p {
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
    }
}

.users-list-triggers {
    display: inline-block;
    margin-right: 1rem;

    &__followers {
        margin-right: 0.5rem;
    }
}

.followers-count,
.following-count {
    font-weight: bold;
}

.connect-buttons {
    display: inline-block;

    &__follow-toggle {
        margin-right: 0.5rem;
    }

    &__unfollow-button {
        @extend .button-light;
    }

    &__follow-button {
        @extend .button-primary;
    }
}

.books {
    margin: 0 auto 4.5rem;
    max-width: 70rem;
    padding: 1rem;

    &__container {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }

    &__buttons-container {
        display: flex;
        margin-bottom: 1rem;
    }

    &__add-book-button {
        margin-left: auto;
    }
}

.books-grid-sizer,
.books-grid-item {
    box-sizing: border-box;
    width: 25%;

}

.books-grid-item {
    padding: 0.25rem;
}

.profile-book-card {
    &__link {
        text-decoration: none;
        color: inherit;
    }
}

.no-books-message {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .books-grid-sizer,
    .books-grid-item {
        width: 33.33%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .books-grid-sizer,
    .books-grid-item {
        width: 50%;    
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .books-grid-sizer,
    .books-grid-item {
        width: 100%;    
    }
}