.search-results-container {
    border: 1px solid $generic-border-color;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background: #fff;

}

.search-result {
    background: #fff;
    border-bottom: 1px solid $generic-border-color;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;

    &:link, &:visited, &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        background: darken(#fff, 5%);
    }

    &__user-photo {
        width: 55px;
        height: auto;
        margin-right: 1rem;
    }

    &__books {
        font-size: 0.8rem;
        color: $secondary-color;
    }
}