.search-results-container {
    max-width: 53rem;
    border-left: 1px solid $generic-border-color;
    border-right: 1px solid $generic-border-color;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
}

.search-result {
    background: #fff;
    border-bottom: 1px solid $generic-border-color;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    cursor: pointer;

    &:link, &:visited, &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        background: darken(#fff, 5%);
    }

    &__user-photo {
        width: 55px;
        height: auto;
        margin-right: 1rem;
    }

    &__books {
        font-size: 0.8rem;
        color: $secondary-color;
    }
}