.settings-details-form {
    border-top: 1px solid $generic-border-color;
}

.settings-password-form {
    border-top: 1px solid $generic-border-color;
    margin-top: 2rem;
}

.settings-delete-button-container {
    border-top: 1px solid $generic-border-color;
    margin-top: 2rem;
}