.login-form-container {
    margin-bottom: 0;
}

.form-links {
    text-align: center;
    margin: 1rem 0 4rem;

    a {
        display: block;
        margin-bottom: 0.75rem;
    }

    a:link, a:visited {
        color: $secondary-color;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.login-form {
    &__loading-spinner {
        display: none;
    }
}