.login-form-container {
    margin-bottom: 0;
}

.form-link {
    text-align: center;
    display: block;

    &:link, &:visited {
        color: $secondary-color;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.auth-form {
    &__alternative {
        border-top: 1px solid $generic-border-color;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
    }

    &__proceed-button {
        margin: 0.5rem 0 1.5rem;
    }
}