mixin message(message, isOwn, userData)
    div(class= isOwn ? 'message message--logged-in-users' : 'message')
        .message__main
            if (!isOwn)
                img.message__user-photo.user-photo(src=`/images/users/${userData.profilePhoto}`)
            p.message__content= message.content
        .message__meta
            p.message__time= timeago.format(message.dateSent)