mixin searchResult(result)
    a(href=`/${result.username}`).search-result
        img(src=`/images/users/${result.profilePhoto}`).user-photo.search-result__user-photo
        div
            p= result.username