mixin usersListItem(item)
    a.users-list__item(href=`/${item.username}`)
        img.user-photo.users-list__profile-photo(src=`/images/users/${item.profilePhoto}`)
        div
            p.users-list__username= item.username